.container-item
    display        : flex
    width          : 100%
    height         : 100%
    justify-content: flex-start
    align-items    : flex-start
    max-width      : 1000px
    flex-direction : column

.header-item
    display        : flex
    width          : 100%
    justify-content: flex-start
    align-items    : flex-start
    background     : white
    flex-wrap      : wrap

.container-item-image
    display        : flex
    justify-content: flex-start
    align-items    : flex-start
    flex           : 1
    margin    : 32px 0px 0px 32px

.item-image-big
    min-width: 120px
    max-width : 100%
    max-height: 680px

.info-item
    display        : flex
    flex-direction : column
    justify-content: flex-start
    align-items    : flex-start
    padding        : 32px
    width: 100%
    max-width: 350px

.new-sold
    font-size    : 14px
    margin-bottom: 16px

.title-item
    font-size    : 24px
    margin-bottom: 32px

.price-item
    font-size    : 46px
    margin-bottom: 32px

.buy-button
    width        : 100%
    height       : 40px
    background   : #3483FA
    border       : none
    outline      : none
    border-radius: 4px
    color        : white
    font-size    : 20px

.container-description
    display        : flex
    width          : 100%
    justify-content: flex-start
    align-items    : flex-start
    background     : white
    padding        : 32px
    margin-bottom  : 16px
    border-radius  : 4px

.span-description
    font-size: 28px

.description-item
    display        : flex
    width          : 100%
    flex-direction : column
    justify-content: flex-start
    align-items    : flex-start

.description-spacer
    display        : flex
    flex-direction : column
    justify-content: flex-start
    align-items    : flex-start
    padding        : 32px
    min-width          : 350px

.p-description
    margin: 32px 0px
    color: #666
    white-space: pre-line
    width: 100%
    overflow: auto
