.header-mercadolibre
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 56px
    background: #FFE600
    padding: 0px 60px

.container-header
    display: flex
    flex: 1 1
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    max-width: 1000px

.logo-header
    height: 100%
    margin-right: 18px

.form-search
    height: 70%
    display: flex
    justify-content: center
    align-items: center
    padding: 0
    margin: 0
    width: 100%

.input-search
    width: 100%
    height: 100%
    font-size: 18px
    padding: 10px
    border: none
    outline: none
    border-radius: 4px 0px 0px 4px

.button-search
    background: #EEEEEE
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    cursor: pointer
    border-radius: 0px 4px 4px 0px

.img-search
    width: 18px

.href-home
    height: 70%
