.container-search
    display        : flex
    width          : 100%
    height         : 100%
    max-width      : 1000px
    flex-direction : column
    justify-content: flex-start
    align-items    : flex-start

.breadcrumb
    margin   : 16px 0px
    font-size: 14px
    color    : #666

.container-items
    display       : flex
    flex-direction: column
    background    : white
    width         : 100%
    border-radius : 4px
    margin-bottom : 16px

.item
    display        : flex
    justify-content: flex-start
    align-items    : flex-start
    width          : 100%
    padding        : 16px
    border-bottom  : 1px solid #EEEEEE
    flex-wrap      : wrap

.href-item-image
    width          : 180px
    height         : 180px
    display        : flex
    justify-content: center
    align-items    : center
    border-radius  : 4px
    margin         : 0px 16px 0px 0px
    overflow       : hidden

.item-image
    width : 180px
    height: 180px

.item-info
    display        : flex
    flex-direction : column
    justify-content: center
    align-items    : flex-start
    flex           : 3
    margin-top     : 16px

.price-free-shipinng
    display: flex
    justify-content: center
    align-items: center
    height: 28px
    margin-bottom: 16px

.item-price
    font-size    : 24px
    color: #333

.item-title
    color: #333
    font-size: 18px

.href-item-title
    text-decoration: none
    color          : inherit
    max-width: 400px

.address-container
    margin-top: 16px
    display   : flex
    flex      : 1
    margin: 16px 0px 0px 16px

.item-address
    font-size: 14px
    color    : #666

.free-shipping-image
    height: 70%
    margin-left: 12px
